* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;

}

.navbar-brand,
.card-title {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.bg-light-grey {
  background-color: lightgray;
}

.bg-alice-blue {
  background-color: aliceblue;
}

@media (min-width: 768px) {

  .search-exercise,
  .select-category {
    width: 75%;
  }
}

.bodyPart-card {
  width: 18rem;
}

.fa-youtube-play {
  font-size: 20px;
}

.video-img {
  height: 200px;
  width: 200px;
}

.video-title {
  display: block;
  width: 70%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}